<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Python</title>
    <link href = {{url_for('static', filename="'/style.css'")}}, rel = "stylesheet">
</head>
<body>
<h1 class = 'header'>Welcome Python</h1>
<form method="GET" action="/home">
    <div>
        <label for="username">Username</label>
        <input id="username" placeholder="username">

        <label for="password">Password</label>
        <input id="password">

        <input href="/home" id="login" type="Submit">
        <a href = "/register">Register</a>

    </div>
</form>

</body>

</html>