<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<form method="POST" action="/register">
    <div>
        <label for="name">Name</label>
        <input id="name" name = "NAME">
        <label for="gmail">GMAIL</label>
        <input id="gmail" name = "GMAIL">
        <label for="phone">PHONE</label>
        <input id="phone" name = "PHONE">
        <input id="submit" type="Submit">
    </div>

</form>

</body>
</html>